# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [4]:
print("Zarrar",2,True,2.16)

Zarrar 2 True 2.16

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [5]:
print("Zarrar",2,True,2.16,sep="-")

Zarrar-2-True-2.16

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [6]:
print("Zarrar",end=" ")
print(2,end=" ")
print(True,end=" ")
print(2.16)

Zarrar 2 True 2.16

4) Can a python print function take no value to print???

In [7]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [10]:
name="Ahmed"
age=30
profession="lawer"
graduation_year = 2005
the_himalya_associates_year=2015
appearence="handsome"
height_feet=5.10
weight_in_gram=70600
income=2000000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [18]:
current_year = 2024
graduation_year = 2005
years_after_bachlors = current_year - graduation_year
years_after_bachlors

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [19]:
working_since=2015
current_year=2024
print(current_year - working_since)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [1]:
one_dollar_into_pkr=278.05 
income_in_pkr=200000
print(income_in_pkr / one_dollar_into_pkr)

719.2950908110051

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [2]:
int(float(income_in_pkr / one_dollar_into_pkr))

719

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [23]:
weight_in_gram = 70600
one_gm_into_kg = 0.001
print(int(weight_in_gram * one_gm_into_kg))

70

In [22]:
#11) print the year of birth of Mr. Ahmed.

1994

In [ ]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [2]:
amount = 100
students = 6
remainder = amount % students
if remainder == 0:
    print(f"Rs. {amount} can be equally divided among {students} students.")
else:
    print(f"Rs. {amount} cannot be equally divided among {students} students. Remainder: Rs. {remainder}")

Rs. 100 cannot be equally divided among 6 students. Remainder: Rs. 4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [7]:
name=input("Enter your name:")
course=input("Enter your course:")
days=input("Enter your days:")
id=input("Enter your id:")
smit="Saylani Mass IT"
print(f"\t{smit}\nName:{name}\nCourse:{course}\nDays:{days}\nID:{id}")

Enter your name: Zarrar
Enter your course: AI and DS
Enter your days: Tuesday and Thursday
Enter your id: AI - 039481

	Saylani Mass IT
Name:Zarrar
Course:AI and DS
Days:Tuesday and Thursday
ID:AI - 039481

In [1]:
num=int(input("Enter any Positive Number: "))
if(num%2)==0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter any Positive Number:  2

Number is Even